<div class="container-fluid">
        <%= simple_form_for @paste do |f| %>
        <%= f.input :description %><br>
          <%= f.input :title, label: "Paste Name / Title" %>
          <%= f.button :submit, class: 'btn btn-default' %>
        <% end %>
</div>