<!DOCTYPE html>
<html>
<head>
  <title>Snippet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <style>

  </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path %></li>
    </ul>
    <%= link_to "+ new paste", new_paste_path, :class => "btn btn-success navbar-btn" %>
  </div>
</nav>

<%= yield %>

</body>
</html>
